node_modules/**/*
.expo/*
.expo-shared/*
__tests__/*
info.plist
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.idea
.env
.gitignore
# macOS
.DS_Store
ios/**/*

# android
android/**/*

# exclude secrets
.env